/node_modules
.env
npm-debug.log
yarn-error.log
/.idea
/.vscode
coverage
coverage.json
typechain
scripts/addresses.json
cache
artifacts
/storage
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
.lando.local.yml
/dist
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/public/fonts
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.lando.local.yml
